<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<!-- Toolbar -->
<nav class="navbar navbar-light">
  <span class="mb-0 h1 text-shadow">Vivero el Otoño</span>
</nav>
<hr class="hr" />
<img class="header-image" alt="header-image" src="assets/fondo.png">
<hr class="hr" />
<div class="content" role="main">

</div>

<router-outlet></router-outlet>
